@using Microsoft.AspNetCore.Mvc.Localization
@model InventoryStatsViewModel
@inject IViewLocalizer Localizer

<h4>@Localizer["GeneralStats"].Value</h4>

<ul class="list-group mb-4">
    <li class="list-group-item d-flex justify-content-between">
        <span>@Localizer["TotalItems"].Value</span>
        <strong>@Model.TotalItems</strong>
    </li>
    <li class="list-group-item d-flex justify-content-between">
        <span>@Localizer["TotalLikes"].Value</span>
        <strong>@Model.TotalLikes</strong>
    </li>
    <li class="list-group-item d-flex justify-content-between">
        <span>@Localizer["TotalPosts"].Value</span>
        <strong>@Model.TotalPosts</strong>
    </li>
</ul>

@if (Model.AverageNumericFields.Any())
{
    <h5>@Localizer["AverageNumericFields"].Value</h5>
    <ul class="list-group mb-4">
        @foreach (var kv in Model.AverageNumericFields)
        {
            <li class="list-group-item d-flex justify-content-between">
                <span>@kv.Key</span>
                <strong>@kv.Value.ToString("0.##")</strong>
            </li>
        }
    </ul>
}

@if (Model.MostCommonStringFields.Any())
{
    <h5>@Localizer["CommonStringFields"].Value</h5>
    <ul class="list-group">
        @foreach (var kv in Model.MostCommonStringFields)
        {
            <li class="list-group-item d-flex justify-content-between">
                <span>@kv.Key</span>
                <strong>@kv.Value</strong>
            </li>
        }
    </ul>
}
