@model IEnumerable<InventoryManagementApp.Model.Inventory>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h2>@Localizer["MyInventories"]</h2>

<a class="btn btn-primary" href="/Inventory/Create">@Localizer["CreateNewInventory"]</a>

<table class="table mt-3">
    <thead>
        <tr>
            <th>@Localizer["Title"]</th>
            <th>@Localizer["Description"]</th>
            <th>@Localizer["Actions"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var inv in Model)
        {
            <tr>
                <td>@inv.Title</td>
                <td>@inv.Description</td>
                <td>
                    <a href="/Inventory/Details/@inv.Id" class="btn btn-sm btn-info">@Localizer["Open"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
