@using Microsoft.AspNetCore.Mvc.Localization
@model SearchResultsViewModel
@inject IViewLocalizer Localizer

<h2>@Localizer["SearchResults"].Value: "@Model.Query"</h2>

<h4>@Localizer["Inventories"].Value</h4>
<table class="table">
    @foreach (var b in Model.Books)
    {
        <tr>
            <td><a href="/Inventory/Details/@b.Id">@b.Title</a></td>
            <td>@b.Description</td>
        </tr>
    }
</table>

<h4>@Localizer["Items"].Value</h4>
<table class="table">
    @foreach (var i in Model.Items)
    {
        <tr>
            <td><a href="/Inventory/Item/@i.Id">@i.CustomId</a></td>
            <td>@i.CreatedAt</td>
        </tr>
    }
</table>
